@import "tailwindcss";


* {
    caret-color: transparent;
  }
  
  p{
    font-family: "Jura", sans-serif;
  }

  .custom-link {
    color: #ffff;
    text-decoration: none;
    font-family: "Gruppo", sans-serif;
    font-weight: 600;
    position: relative;
    transition: color 0.3s ease;
  }
  
  .custom-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #642663;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .custom-link:hover {
    color: #642663;
    text-shadow: 0 0 10px #ce19cb;
  }
  
  .custom-link:hover::after {
    transform: scaleX(1);
  }
  .content {
    max-width: 400px; 
  
  }
  .content h1 span {
    font-weight: 700;
    background: linear-gradient(90deg, #9b2e99, #7e2c7c, #b428b2, #d18dd0);
    background-clip: text;
    color: transparent;
    background-size: 400% 400%;
    font-family: 'Lobster', cursive;
    display: inline-block;
    animation: animate 1.5s ease-in-out infinite, gradient 3s ease infinite;
    padding-bottom: 5px; 
    line-height: 1.2;
  }
  .social-link a:hover{
    color:#642663;
    transform:scale(150%)
  }

  .custom-color{
    background-color:#7a2b79;
    font-family:'Roboto', sans-serif;
    transition: all 0.3s ease 0s;
  }
  
  .custom-color:hover{
    background-color:#642663;
    transform: translateY(-7px);
  }
  .btn button{
    background-color:#972d95d2;
    font-family:'Roboto', sans-serif;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    
  }
  .btn button:hover{
    background-color:#642663b9;
    transform: translateY(-7px);
  }

  @keyframes gradient{
    0%{
      background-position: 0%;
    }
    50%{
      background-position: 100%;
    } 
    100%{
      background-position: 0%;
    }
  }
  
  @keyframes animate {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  .button-color {
    color:#a01589;
    background-color: #642663;
  }
  
  .button-color:hover{
    background-color:#461739;
  }
  
  .dropdown{
    background-color: #642663;
    transition: 0.5s;
    color:white;
    
  }
  .dropdown a:hover {
    background-color: #881b76;
    
  }
  .changing-text {
    font-size: 24px; /* Default for mobile */
    font-weight: 600;
    white-space: nowrap;
    display: inline-block;
  }
  
  .changing-text span{
    position: relative;
    background: linear-gradient(45deg, #632a62, #832d81, #ec25e9, #EFDDD1);
    background-clip: text;
    color: transparent;
  
  }
  
  .changing-text span:before {
    content: "Developer";
    animation: words 20s infinite;
  
  }
  
  .changing-text span:after {
    content: "";
    position: absolute;
    width: calc(100% + 8px); 
    height: 100%; 
    right: -4px;
    background-color: #020618;
    border-left: 2px solid #642663;
    animation: cursor 0.8s infinite, typing 25s steps(24) infinite;
  }
  
  @keyframes cursor {
    to{
      border-left: 2px solid #1f1b13;
    }
  }
  @keyframes words{
    0%,25%{
      content: "Calisthenic";
    }
    26%,50%{
      content: "US. Marine";
    }
    51%,75%{
      content: "Software Engineer";
    }
    76%,100%{
      content: "Aspired Cybersec";
    }
  }

  .responsive{
    background-image:linear-gradient(#af5c5c,#c93030);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 500ms;
  }
  .responsive:hover{
    background-size:100% 100%;
    background-position-x: left;
  }

  @keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
      width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
      width:calc(100% + 8px);
    }
  }
  @media (min-width: 640px) { /* sm */
    .changing-text {
      width: 320px;
      font-size: 28px;
      text-align: left;
    }
  }
  @media (min-width: 768px) { /* md */
    .changing-text {
      width: 360px;
      font-size: 32px;
    }
  }
  @media (min-width: 1024px) { /* lg */
    .changing-text {
      width: 380px;
      font-size: 36px;
    }
  }